<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.05">
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles1.css') }}">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e1_2><div  class="e3_2"></div><span  class="e1_5">Select your user type</span><div  class="e3_4" id="host"></div><a href="http://127.0.0.1:5000/hostlogin"><span  class="e3_6" href="">HOST</span></a><div  class="e3_5" id="user"></div><a href="http://127.0.0.1:5000/userlogin"><span  class="e3_8">USER</span></a><div  class="e3_9"></div><div  class="e3_10"></div><div  class="e1_3"></div><span  class="e1_6">PARKING SPOTTER</span></div>
          <script src="1.js"></script>
          </body>
          </html>