<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.05">
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles10.css') }}">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e38_661><div  class="e38_662"></div><span  class="C">coins</span><div  class="I"></div><span  class="e38_663">500C</span><div  class="e38_664"></div><div  class="e38_665"></div><span  class="e38_666">WALLET REDEEM
</span><div  class="e38_667"></div><div  class="e38_668"></div><span  class="e38_669">+500 Coins
REDEEM : 500 INR</span><div  class="e38_670"></div><span  class="e38_671">+200 Coins
REDEEM : 200 INR</span><span  class="e38_672">+50 Coins 
REDEEM : 50 INR
</span><div  class="e64_335" style="cursor: pointer;" id="login"></div><div  class="e64_338"></div></div>
            <script src="10.js"> </script>
          </body>
          </html>