<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.05">
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles11.css') }}">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e38_661><div  class="e38_662"><p class="location">SELECT LOCATION</p></div>
            <div  class="e64_338"></div></div>
            <div class="drop" id="meanu">
            
              <ul>
                <h1>
                  <h1>userlocation select</h1>

                </h1>
               </ul>
            </div>
            <script src="./11.js"> </script>
            <div class="bottombox"><p class="bottomtext" id="bb">SELECT</p></div>
            <script src="11.js"></script>
          </body>
          </html>