<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <meta name="viewport" content="width=device-width, initial-scale=1.05">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles2.css') }}">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e2_3>
              <div class=e2_5>
                <div  class="e2_6">
                  <input type="text" id="fname" name="fname" style="background-color: transparent;height: 50px;width:300px;border-radius:10px">
                </div>
                <span  class="e2_8">
                  Username
                </span>
              </div>
              <div class=e2_21><div  class="e2_22" id="login"></div><span  class="e2_23">Login</span></div><div class=e2_24><div  class="e2_25"></div><div  class="e2_26"></div><span  class="e2_27">Or With</span></div><div class=e2_28><div  class="e2_29"></div><span  class="e2_30">Login with Facebook</span><div  class="e2_31"></div></div><div class=e2_32><div  class="e2_33"></div><span  class="e2_34">Login with Google</span><div  class="e2_35"></div></div><div class=e2_36><span  class="e2_37">Don’t have an account ? </span><span  class="e2_38">Sign Up</span></div><div  class="e2_10"><input type="password" id="fname" name="fname" style="background-color: transparent;height: 50px;width:300px;border-radius:10px"></div><span  class="e2_15">Password</span><div  class="e5_2651"></div><span  class="e5_2652">USER LOGIN</span></div>
              <script src="2.js"></script>
            </body>
          </html>