<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.05">
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Electrolize&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles4.css') }}">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
            <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
          </head>
          
          <body>
            <i class="fa-solid fa-plus"></i>
            <div class=e23_329><div  class="e23_354"></div><div  class="e23_357"></div><span  class="e45_331">OWNED LOCATIONS</span><div class="e14" id="sel"><ul>
              <h1>select</h1>
            </ul></div><div  class="e45_332" id="login"></div><div  class="e45_338"></div><div  class="e45_341"></div><div  class="e45_339"></div><a href="http://127.0.0.1:5000/newlocation"><span  class="e45_345">ADD LOCATION</span></a><div  class="e53_331"></div><span  class="e53_334">EDIT</span></div>
            <script src="4.js"></script>
          </body>
          </html>