<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.05">
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Electrolize&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles7.css') }}">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class="e120_331"><div  class="e140_330"></div><span  class="e140_332"></span><div  class="e120_332"><span class="button" id="pp">PP</span></div><span style="cursor: pointer;" class="e120_349" id="login2">500C</span><div id="login" style="cursor: pointer;" class="e120_348"></div><span  class="e120_337">LOCATIONS</span><span  class="e140_339">
</span><span  class="e140_342"></span><span  class="e140_344"></span><span  class="e140_346"></span><span  class="e140_351">

</span><span  class="e141_353">
</span></span><span  class="e141_358"></span><div  class="e141_359" style="cursor: pointer;" id="login1">
  <div class="card" style="width: 18rem;margin-top:7rem;margin-left:2rem;background-color: rgba(212.4999949336052, 255, 249.43717449903488, 1);
            ">
              <img class="card-img-top" src={{fname5}} alt="Card image cap">
              <div class="card-body">
                <h5>{{fname1}}</h5>
                <p class="card-text">
                  No.of Spots: {{fname2}}<br>
                  No.of Free Spots:10<br>
                  Cover charges:{{fname3}}<br>
                  Charge per hour:{{fname4}}<br>
                </p>
                <a href="http://127.0.0.1:5000/newlocation" class="btn btn-primary">Edit</a>
              </div>
            </div>
</div><span  class="e141_360">PARK HERE</span></div>
          <script src="7.js"></script>
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
        </body>
          </html>