<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.05">
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles7.css') }}">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e120_331><div  class="e140_330"></div><span  class="e140_332">{{fname1}}</span><div  class="e140_333"></div><div  class="e140_335" style="background-image:{{fname5}};"></div><div  class="e140_337" style="	background-image:{{fname5}};"></div><div  class="e140_338"></div><div  class="e120_332"><span class="button" id="pp">PP</span></div><span style="cursor: pointer;" class="e120_349" id="login2">500C</span><div id="login" style="cursor: pointer;" class="e120_348"></div><span  class="e120_337">LOCATIONS</span><span  class="e140_339">TOTAL PARKING SPOTS AVAILABLE: {{fname2}}
</span><div  class="e140_341"></div><span  class="e140_342">AVAILABLE PARKING SPOTS:15</span><div  class="e140_343"></div><span  class="e140_344">COVER CHARGE:{{fname3}} </span><div  class="e140_345"></div><span  class="e140_346">HOURLY CHARGE: {{fname4}}</span><span  class="e140_347">S V CONVENTION HALL</span><div  class="e140_348"></div><div  class="e140_349"></div><div  class="e140_350"></div><span  class="e140_351">TOTAL PARKING SPOTS AVAILABLE: 80
</span><div  class="e140_352"></div><span  class="e141_353">AVAILABLE PARKING SPOTS:
50</span><div  class="e141_354"></div><span  class="e141_356">COVER CHARGE:  
20 COINS </span><div  class="e141_357"></div><span  class="e141_358">HOURLY CHARGE: 10 COINS</span><div  class="e141_359" style="cursor: pointer;" id="login1"></div><span  class="e141_360"><a href="/parking">PARK HERE</a></span></div>
          <script src="7.js"></script>
          </body>
          </html>