<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.05">
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles9.css') }}">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e38_648><div  class="e38_649"></div><span  class="e38_650" style="color:rgba(0, 0, 0, 1);width:49px;height:22px;">coins</span><div  class="e38_651"></div><div  class="e38_653"></div><span  class="e38_652">WALLET TOP UP
</span><div  class="e38_655"></div><div  class="e38_656"></div><span  class="e38_660">+500 Coins
COST : 350 INR</span><div  class="e38_657"></div><span  class="e38_659">+200 Coins
COST : 150 INR</span><span  class="e38_658">+50 Coins 
COST : 50 INR
</span><div  class="e64_330" style="cursor: pointer;" id="login"></div><div  class="e64_331"></div></div>
            <script src="9.js"></script>
          </body>
          </html>